/* @import 'node_modules/bootstrap/dist/css/bootstrap.css'; */

.body {
  background-color: #ffc0cb;
}

.app {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(white, #ff6aff)
}

.header {
  min-width: 100vw;
  background-color: rgba(255, 255, 255, 0.95);
  min-height: 55px;
  position: fixed;
  z-index: 1000;
  top: 0vh;
  left: 0vw;
  box-shadow: 0px 10px 18px rgba(235, 0, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.header-logo {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 55px;
  width: auto;
  bottom: 0vh;
  z-index: 2000;
}

.row {
  display: flex;
  flex-direction: row;
  margin-left: 0;
}

.project-modal {
  position: fixed;
  margin-top: 50px;
  max-height: 500px;
  overflow: auto;
  box-shadow: 18px 32px 17px rgba(235, 0, 255, 0.04);
  /* top: 0vh;
  left: 0vw;
  margin-top: 2%; */
  /* width: 17%; */
  /* margin-top: 6%; */
  /* margin-bottom: 6%; */
  /* border: 1px solid magenta; */
  /* border-radius: 8px; */
  /* margin-left: 1%; */
  z-index: 2000;
  /* margin-left: 20px; */
}

#modal {
  display: none;
}

#modal-container {
  height: 20%;
  margin-left: 120px;
  margin-right: 120px;
  position: absolute;
}

#modal-icon {
  cursor: pointer;
  z-index: 2000;
  margin-top: 10px;
  margin-left: 20px;
  height: 20px;
  width: 20px;
  position: fixed;
}

.modal-items {
  /* display: inline-block; */
  background-color: white;
  /* box-shadow: 18px 32px 17px rgba(235, 0, 255, 0.04); */
  border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}


.projects-list {
  /* padding-left: 7px; */
  padding-bottom: 5px;
}


#new-header, #edit-header {
  position: fixed;
  /* border-top-left-radius: 7px;
  border-top-right-radius: 7px; */
  /* padding-top: 5px; */
}

#edit-header {

}

.modal-toggle {
  display: flex;
  justify-content: right;
}

.title-selected {
  /* color: white !important; */
  border-bottom: 4px solid magenta;
  /* background-color: #ff8cff; */
}

.modal-title {
  padding-left: 9px;
  padding-right: 10px;
  /* padding-bottom: 5px; */
  font-size: 18px;
  font-family: inherit;
  cursor: pointer;
  font-size: 1em;
  color: magenta;
}

.nav-title {
  z-index: 2000;
  margin-top: 15px;
  margin-left: 15px;
  color: magenta;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  height: 30px;
  cursor: pointer;
}

.editing-title {
  font-size: 30px;
  /* margin-bottom: 15px; */
  /* color: #f77fff; */
  font-family: 'Comic Sans MS', cursive, sans-serif;
  /* background-color: rgba(235, 0, 255, 0.1); */
  /* padding-left: 10px;
  margin-left: -12px; */
  /* box-shadow: 0px 10px 11px rgba(235, 0, 255, 0.1); */
  /* background-image: linear-gradient(white, #faddfe); */
  width: 110%
  /* border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; */
}

.title-small {
  font-size: 14px !important;
}

.modal-title:hover {
  background-color: #ff8cff;
  color: white;
}

.form-container {
  width: 70%;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 25px;
  /* border: 2px solid #fa7088; */
  background-color: white;
  margin-top: 5%;
  margin-left: auto;
}

.form-title {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 26px;
  margin-bottom: 20px;
}

.cat-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
  margin-left: 0px;
}

.small-btn-custom {
  color: magenta;
  border: 1px solid magenta;
  margin-bottom: 27px;
  margin-top: -17px;
}

.small-btn-custom:hover,
.small-btn-custom-true {
  background-color: magenta;
  color: white;
}

.cont-text {
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}

.loc-text {
  margin-top: 10px;
}

.med-text {
  font-size: 18px;
}

.l-name {
}

.text-hidden {
  color: transparent;
}

.cont-container {
  /* margin-left: 25px; */
  /* margin: 25px; */
}

.add-cont-container {
  /* margin-left: 25px;   */
  /* margin-bottom: 25px; */
  /* margin-top: -10px; */
}

.custom-dropdown {
  margin-top: 28px;
  margin-left: 5px;
  margin-right: 5px;
}

/* bootstrap overwrite */
.dropdown-item:hover {
  background-color: magenta !important;
  color: white !important;
}

.dropdown-item {
  color: magenta;
}

.dd-menu-margin {
  margin-top: -5px;
}

.del-btn {
  color: #d1d1d1;
  padding-top: 20px !important;
  padding-left: 5px !important;
}

.del-btn:hover,
.del-btn:active {
  color: magenta;
}

.btn-margin {
  margin-top: -30px;
}

.dd-margin {
  margin-top: -45px;
}

.cat-selected {
  background-color: magenta !important;
  color: white !important;
}

.cat-selected:active,
.cat-selected:focus,
.cat-selected::after {
  background-color: white !important;
  color: magenta !important;
}

.login-container {
    border: 1px solid magenta;
    border-radius: 8px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 10px 18px rgba(235, 0, 255, 0.1);
    margin-top: 80px;
    min-width: 335px;
}

#login-form {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.log-input {
    /* width: 65%; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#login-btn {
    margin-top: 12px !important;
    margin-bottom: 5px;
}

.log-label {
    font-family: Comic Sans MS, cursive, sans-serif;
    margin-top: 15px;
}

.forgot-pss {
    /* margin-top: 20px; */
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 15px; */
}

.err {
  display: none;
  color: red;
  background-color: #f0f9;
  border-radius: 8px;
  font-size: 12px;
  padding: 5px;
}

#login-err {
  margin-left: auto;
  margin-right: auto;

}

#form-err {
margin-left: 15px;
line-height: 25px;
padding: 8px;
font-size: 14px;
}


